<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SmartBinsConnection" 
             connectionString="Server=(localdb)\MSSQLLocalDB;Database=SmartBins;Integrated Security=True;" 
             providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>